!!! 5
%html{:ng-app => "KanBan"}
  %head
    %meta{:charset => "utf-8"}
    %title="Kanban"
    %meta{:name => "viewport", :content => "width=device-width"}
    %link{:rel => "stylesheet", :href => "{{STATIC_URL}}css/normalize.css"}
    %link{:rel => "stylesheet", :href => "{{STATIC_URL}}css/foundation.css"}
    %script{:type => "text/javascript", :src => "{{STATIC_URL}}js/angular.min.js"}
    %script{:type => "text/javascript", :src => "{{STATIC_URL}}js/angular-resources.min.js"}
    %script{:type => "text/javascript", :src => "{% url 'kanban:kanbanjs' %}"}
    %script{:type => "text/javascript", :src => "{{STATIC_URL}}js/app.js"}
    %script{:type => "text/javascript", :src => "{{STATIC_URL}}js/controllers.js"}
    %script{:type => "text/javascript", :src => "{{STATIC_URL}}js/filters.js"}
    %script{:type => "text/javascript", :src => "{{STATIC_URL}}js/services.js"}
  %body
    %div{:ng-view => ""}
