.row
  .large-12.columns
    %h1
      Abrakadaban
    %h2
      {& workspace.title &}
    .workflows
      .workflow{:class => "large-{& workspaceWidth &} columns", :ng-repeat => "workflow in workspace.workflow|orderBy:orderProp"}
        .title{:draggable-dest => "", :drag-order => "0", :drag-workflow => "{& workflow &}"}
          {& workflow.title &}
          %a.add{:ng-click => "newidea=!newidea"}
            +
        .idea.new{:draggable-dest => "", :drag-order => "0", :drag-workflow => "{& workflow &}", :ng-show => "newidea"}
          .panel
            %form{:ng-submit => "createnewidea(newidea_title, workflow, workspace);"}
                %input{:ng-model => "newidea_title"}
                %input{:type => "submit", :ng-show => "false"}
        .idea{:draggable-dest => "", :drag-order => "{& idea.order+1 &}", :drag-workflow => "{& workflow &}", :draggable-idea => "", :draggable => "{& !edit &}", :ng-repeat => "idea in workspace.idea|workflow:workflow.id|orderBy:orderProp|hardenOrder"}
          .panel
            .show{:ng-hide => "edit",:ng-click => "edit=!edit"}
                {& idea.title &}
            %form{:ng-submit => "edit=!edit;updateIdea(idea);", :ng-show => "edit"}
              %input{:ng-model => "idea.title"}
              %input{:type => "submit", :ng-show => "false"}
