.row
  .large-12.columns
    %h1
      Abrakadaban
    %h2
      {& workspace.title &}
    .row
      .workflow{:class => "large-{& workspaceWidth &} columns", :ng-repeat => "workflow in workflows|orderBy:orderProp"}
        .alert-box
          {& workflow.title &}
        .panel{:ng-repeat => "idea in ideas"}
          {& idea.title &}

