.row
  .large-12.columns
    %h1='Abrakadaban'
    %h2
      {& workspace.title &}
    .row
      .large-4.columns{:ng-repeat => "workflow in workspace.workflows"}
        %h3.label
          {& workflow.title &}

