.row
  .large-12.columns
    %h1='Abrakadaban'
    %a.button.small{:href => "#/"}="Home"
    %h2
      {& workspace.title &}
    .row
      .workflow{:class => "large-{& workspaceWidth &} columns", :ng-repeat => "workflow in workflows|orderBy:orderProp"}
        %h3.label
          {& workflow.title &}
          %a.small.button
            +
        .panel{:ng-repeat => "idea in workflow.ideas | orderBy:orderProp"}
          Idea

