.row
  .large-12.columns
    %h1='Abrakadaban'
    %a.button.small{:href => "#/"}="Home"
    %h2
      {& workspace.title &}
    .row
      .workflow{:class => "large-{& workspaceWidth &} columns", :ng-repeat => "workflow in workspace.workflows | orderBy:orderProp"}
        %h3.label
          {& workflow.title &}

