.row
  .large-12.columns
    %h1
      Abrakadaban
    %h2
      {& workspace.title &}
    .row
      .workflow{:class => "large-{& workspaceWidth &} columns", :ng-repeat => "workflow in workflows|orderBy:orderProp"}
        .alert-box
          {& workflow.title &}
        .moveDest{:draggable-dest => "", :drag-order => "0", :drag-workflow => "{& workflow.id &}", :ng-show => "draginprogress"}
          Top
        .idea{:ng-repeat => "idea in ideas|workflow:workflow.id|orderBy:orderProp|hardenOrder"}
          .panel{:draggable => "true", :draggable-idea => "", :draggable-dest => "", :drag-order => "{& idea.order+1 &}", :drag-workflow => "{& workflow.id &}"}
            {& idea.title &}{& idea.order &}
