.row
  .large-12.columns
    %h1='Abrakadaban'
    %ul
      #workspaces{:ng-repeat => "workspace in workspaces"}
        %a.button.expand{:href => "#workspace/{& workspace.id &}"}
          {& workspace.title &}

