/*[draggable] {
    user-select: none;
}*/


input.error{
    border-color: red;
    color:red;
}

input[type="submit"]{
    visibility: hidden;
}

.workflows, .workflows form{
    text-align:center;
}

.workflow{
    display: inline-block;
    vertical-align: top;
    padding: 1em;
}

.workflow .title{
    font-size: 2em;
    margin: 0.4em;
    display:block;
    border-bottom: 0.2em solid grey;
    width: 12.5em;
}

.workflow .idea.over, .workflow .title.over{
    margin-bottom: : 5em;
}

.add{
    border: 1px solid rgb(180,180,180);
    background-color: rgb(220,220,220);
    font-size: 0.8em;
}

.workflow .idea{
    width: 25em;
    border: 1px rgb(200,200,200) solid;
    background: rgb(240,240,240);
    margin-bottom: 1.5em;
    padding: 1em;
}

.moveDest{
    height:1.25em;
    margin-top:-1.25em;
}
